<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nodes list</title>
</head>
<body>
<div th:switch="${nodes}">
    <h2 th:case="null">No nodes yet!</h2>
    <div th:case="*">
        <h2>Nodes</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="node : ${nodes}" >
                <td th:text="${node.id}" hre></td>
                <td th:text="${node.name}"></td>
                <td th:text="${node.status} ? 'on' : 'off'"></td>
                <td>
                    <a th:href="@{'/node/' + ${node.id}}">view</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>